Shipping/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51367/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51367/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51367/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPayable_GetCost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCost" />
  </wsdl:message>
  <wsdl:message name="IPayable_GetCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCostResponse" />
  </wsdl:message>
  <wsdl:message name="IPayable_GetOvernight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOvernight" />
  </wsdl:message>
  <wsdl:message name="IPayable_GetOvernight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOvernightResponse" />
  </wsdl:message>
  <wsdl:message name="IPayable_GetFlatFee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlatFee" />
  </wsdl:message>
  <wsdl:message name="IPayable_GetFlatFee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlatFeeResponse" />
  </wsdl:message>
  <wsdl:message name="IPayable_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPayable_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IPayable">
    <wsdl:operation name="GetCost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayable/GetCost" message="tns:IPayable_GetCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayable/GetCostResponse" message="tns:IPayable_GetCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOvernight">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayable/GetOvernight" message="tns:IPayable_GetOvernight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayable/GetOvernightResponse" message="tns:IPayable_GetOvernight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlatFee">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayable/GetFlatFee" message="tns:IPayable_GetFlatFee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayable/GetFlatFeeResponse" message="tns:IPayable_GetFlatFee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayable/GetDataUsingDataContract" message="tns:IPayable_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayable/GetDataUsingDataContractResponse" message="tns:IPayable_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPayable" type="tns:IPayable">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCost">
      <soap:operation soapAction="http://tempuri.org/IPayable/GetCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOvernight">
      <soap:operation soapAction="http://tempuri.org/IPayable/GetOvernight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlatFee">
      <soap:operation soapAction="http://tempuri.org/IPayable/GetFlatFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPayable/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IPayable" binding="tns:BasicHttpBinding_IPayable">
      <soap:address location="http://localhost:51367/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>